@{
    ViewData["Title"] = "Marlene van Rensburg";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/css/bootstrap-css.css" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<div class="has-animation animation-ltr" data-delay="10">
    <p class="bigger">Marléne van Rensburg </p>
</div>

<br>
<br>

<div class="has-animation animation-rtl" data-delay="1000">
    <p class="text">I am an honest, motivated and dedicated lady.  I strive for excellence in everything I do and I take full responsibility for tasks entrusted to me.  I can fully function on my own but can also work very well in a team. I enjoy new challenges and take pleasure in learning new skills.  For this reason, I have also taught myself to create and manage websites and learn forex trading etc.  I am a very balanced person and believe in approaching all aspects of life with integrity, respect and positivity.  I am a friendly and helpful person with and even temperament, good interpersonal relationships and communication skills.</p>
</div>
<br>
<br>

<br>
<br>
<div class="has-animation animation-rtl" data-delay="2000">
    <img src="~/images/MarlenevanRensburg.jpg" width="600" />
</div>

<script src="/lib/jquery/dist/jquery.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.has-animation').each(function (index) {
            debugger;
            $(this).delay($(this).data('delay')).queue(function () {
                $(this).addClass('animate-in');
            });
        });
    });
</script>



