@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><strong>marlenevanrensburg.com - Privacy Policy</strong></p>
<p></p>
<p>marlenevanrensburg.com takes your privacy seriously, which is why we have created the following policy for your protection and security. Please read it carefully.</p>
<p>________________________________________</p>
<p>
    <strong>What This Privacy Policy Covers</strong><br />
    This Privacy Policy ("The Policy") covers marlenevanrensburg.com's treatment of personally identifiable information that marlenevanrensburg.com collects when you are on the marlenevanrensburg.com site, and when you use marlenevanrensburg.com's services.
    The policy also covers marlenevanrensburg.com 's treatment of any personally identifiable information that marlenevanrensburg.com 's business partners share with marlenevanrensburg.com or that marlenevanrensburg.com may collect on a partner's site.
    This policy does not apply to the practices of companies that marlenevanrensburg.com does not own or control, or to people that marlenevanrensburg.com does not employ or manage.
</p>
<p></p>
<p>________________________________________</p>
<p></p>
<p>
    <strong>Information Collection and Use</strong><br />
    marlenevanrensburg.com collects personally identifiable information when you register for a marlenevanrensburg.com newsletter or free report, submit feedback or sign on as a member of the marlenevanrensburg.com community. marlenevanrensburg.com may also receive personally identifiable information from our business partners.
    When you register as a member of marlenevanrensburg.com , we ask for your name, email address, and country of origin. Once you register with marlenevanrensburg.com , you are not anonymous to us.
    marlenevanrensburg.com also automatically receives and records information on our server logs from your browser including your IP Address, marlenevanrensburg.com cookie information, and the page you requested.
    marlenevanrensburg.com uses information for three general purposes: to customize the advertising and content you see on our pages, to fulfill your requests for certain products and services, and to contact you about specials and new products.
</p>
<p></p>
<p>________________________________________</p>
<p></p>
<p>
    <strong> Information Sharing and Disclosure</strong><br />
    marlenevanrensburg.com will not sell or rent your personally identifiable information to anyone.
    marlenevanrensburg.com will only send personally identifiable information about you to other companies or people when:
    •	We have your consent to share the information;
    •	We need to share your information in order to provide the product or service you have requested;
    •	We need to send the information to companies that work on behalf of marlenevanrensburg.com to provide a product or service to you. (Unless we tell you differently, these companies do not have any right to use the personally identifiable information we provide to them beyond what is necessary to assist us.);
    •	We respond to a compulsory court order to comply with due legal process; or
    •	We find that your actions on our web sites violate the marlenevanrensburg.com - or any of our usage guidelines for specific products or services.
</p>
<p></p>
<p>________________________________________</p>
<p></p>
<p>
    <strong>Cookies</strong><br />
    marlenevanrensburg.com may set and access marlenevanrensburg.com cookies on your computer. A cookie is a small amount of data - which often includes an anonymous unique identifier - that is sent to your browser from a web site's computer and stored on your computer's hard drive.
    marlenevanrensburg.com allows other companies that are presenting advertisements on some of our pages to set and access their cookies on your computer. The way other companies use their cookies is subject to their own privacy policies, not this one. Advertisers or other companies do not have access to marlenevanrensburg.com 's cookies.
    marlenevanrensburg.com uses web beacons to access our cookies within and outside our network of web sites and in connection with marlenevanrensburg.com products and services. Web pages may contain electronic images (called a "single-pixel GIF" or "web beacon") that allow a web site to count users who have visited that page or to access certain cookies.
</p>
<p></p>
<p>________________________________________</p>
<p></p>
<p>
    <strong>Your Ability to Edit and Delete Your Account Information and Preferences</strong><br />
    You may change or update the information you have supplied marlenevanrensburg.com at any time. Please use the editing facilities available from your account page to do this.
</p>
<p></p>
<p>________________________________________</p>
<p></p>
<p>
    <strong>Security</strong><br />
    Every effort is made to keep your information private and away from hackers. However, it is not possible for us to guarantee your privacy. You should weigh up the risk that your details will be misused by hackers with the benefit of receiving the great information that this site has to offer.
</p>
<p></p>
<p>________________________________________</p>
<p></p>
<p>
    <strong>Changes to this Privacy Policy</strong><br />
    marlenevanrensburg.com may edit this policy from time to time. If we make any substantial changes we will notify you by posting a prominent announcement on our pages.
</p>
<p></p>
<p>________________________________________</p>
<p></p>

