@page
@model TECHNICALCV.Views.Home.SkillsModel
@{
}

<h1 class="h1-responsive font-weight-bold text-center my-4">HARD SKILLS</h1>

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    TECHNICAL skills
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                Web development: HTML, CSS, Javascript, WordPress, Content Management Systems (CMS)</br>
                Programming Skills:  C#, SQL, Java, C++, HTML, JavaScript, XML, C, Perl, Python, PHP, Objective-C, AJAX, ASP.NET</br>
                Mathematics:  Algebra, Statistics</br>
                Writing:  Content writing, SEO</br>
                Freelance Work:  Web development, web hosting, content writing, research</br>
                Project Management</br>
            </div>
        </div>
    </div>
</div>
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    COMPUTER skills
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                Windows 10, Groupwise, Kuali, Planon, </br>
                Microsoft Office 2016/365:  MS Word, MS Excel, MS Powerpoint, MS Access, MS Outlook, </br>
                Internet Explorer, Mozilla Firefox, Dreamweaver, Coreldraw, </br>
                HTML, Joomla website development, ASP.NET website development and hosting, </br>
                Azure, Internet proficient.
            </div>
        </div>
    </div>
</div>
<h1 class="h1-responsive font-weight-bold text-center my-4">SOFT SKILLS</h1>

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    COMMUNICATION skills
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                I am an active listener and ask questions when anything is unclear.  </br>
                I pay close attention to nonverbal cues to understand the person(s) I am communicating with.</br>
                I have a good verbal and written communication style.
            </div>
        </div>
    </div>
</div>
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    MANAGEMENT skills
                </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                I see myself as a good manager.  Currently I manage 2 Staff members, 3 Cleaners and 22 Student Representatives at Oppirif Residence.</br>
                As a Residence Manager part of my job is to mentor and manage about 12 Residence Officers from the Residence and Catering Department.
            </div>
        </div>
    </div>
</div>
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingSix">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    STRATEGIC PLANNING skills
                </button>
            </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
                As a strategist I always see the goal and start planning from the endview.</br>
                I am very good at developing and implementing strategies to improve systems.
            </div>
        </div>
    </div>
</div>
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    ADAPTIBILITY skills
                </button>
            </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                I have adaptibility skills and through the years learned to to overcome difficult situations or adjust to changes in my personal as well my career.
            </div>
        </div>
    </div>
</div>
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingEight">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    INTERPERSONAL skills
                </button>
            </h5>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="collapseEight" data-parent="#accordion">
            <div class="card-body">
                My interpersonal skills are very good as I respect my family, friends and colleagues.</br>
                I am a very good listener and tend to motivate people rather than being negative.</br>
                I believe that my strong Emotional Intelligence skills plays a big part in my ability to work with people.
            </div>
        </div>
    </div>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>