@page
@model TECHNICALCV.Views.Home.WorkExperienceModel
@{
}
<p><strong>marlenevanrensburg.com - Privacy Policy</strong></p>
<p></p>
<p>marlenevanrensburg.com takes your privacy seriously, which is why we have created the following policy for your protection and security. Please read it carefully.</p>
<p>________________________________________</p>
<p>
    <strong>What This Privacy Policy Covers</strong><br />
    This Privacy Policy ("The Policy") covers marlenevanrensburg.com's treatment of personally identifiable information that marlenevanrensburg.com collects when you are on the marlenevanrensburg.com site, and when you use marlenevanrensburg.com's services.
    The policy also covers marlenevanrensburg.com 's treatment of any personally identifiable information that marlenevanrensburg.com 's business partners share with marlenevanrensburg.com or that marlenevanrensburg.com may collect on a partner's site.
    This policy does not apply to the practices of companies that marlenevanrensburg.com does not own or control, or to people that marlenevanrensburg.com does not employ or manage.
</p>
<p></p>
<p>________________________________________</p>
